<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List of products</h1>
<a th:href="@{/}">Home</a>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:unless="${products.isEmpty()}"  th:each="p : ${products}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.category}"></td>
                    <td th:text="${p.price}"></td>
                    <td><a th:href="@{/detail/{id}(id=${p.id})}" >Detail</a></td>
            </tr>
            <tr th:if="${products.isEmpty()}">
                <td colspan="4">Empty list</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>